/* 
    Created on : 08-Feb-2014, 15:57:02
    Author     : Craig Bentall 10350172
    Description: CSS page for website
 */
body {
     
    background: url(../images/bk2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-style:italic;
    font-weight:800;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: #5882FA;
}
h2, h3 {
    color:  black;
}
header {
    height: 110px;
    width: 75%;
    margin-left: 12.5%;
    background: url(../images/wbk1.jpg) no-repeat center center fixed;     
}
.content {
    height: 1180px;
    width: 75%;
    margin: 20px 0px 20px 0px;
    padding-top: 10px;
    margin-left: 12.5%;
    background: url(../images/wbk1.jpg) no-repeat center center fixed;

}
.introduction, footer, .form, .header, .video {
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Chrome, and Opera */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.introduction {
    padding-bottom: 50px;
    width: 100%;
}
.header_links {
    float: left;
    margin: 56px 0px 0px 0px;
}
.header_links li{
    display: inline;
    border-right: solid 1px black;
    padding: 18px;
}
.contact {
    float: right;
    margin: 0px 20px 0px 0px;
}
.contact h2 {
    text-align: center;
}
.inside_statement {
    width: 800px;
    text-align: center;
}
.inside_statement2 {
    width: 800px;
    text-align: center;
}
.inside_statement td {
     text-align: left;
}
.left_column {
    float: left;
    margin: 30px 10px 30px 30px;
    width: 450px;
}
.right_column1, .right_column2, .right_column3 {
    float: right;
    margin: 30px 0px 10px 0px;
    width: 850px;
}
.right_column2, .right_column3 {
    clear:right; 
}
.right_column3 li {
    display:inline-block;
}
.sizewidth {
    width: 100px
}
.sizewidth2 {
    width: 200px
}
.sizewidth3 {
    width: 400px
}
.des {
    width: 500px;
}

.form {
    width: 100%;
    padding: 10px;
}
th {
    text-align: left;
    color: black;
    font-size: 1.17em;
}
.photo img {
    height: 400px;
    width: 300px;
    border: solid 2px white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.link a {
    width: 100px;
    display: block;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 15px;
    margin: 20px auto;
    color: #ccc;
    background: -webkit-linear-gradient(#888, #555);
    border-radius: 3px;
    text-shadow: 0 -1px 0 #000;
    cursor: pointer;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}
.link a:hover {
    color: #5882FA;
}
.form {
    width: 20%;
    margin-left: 40%;    
    padding-top: 5px;
    color: #ccc;
    border: solid 1px black;
    -moz-border-radius: 35px;
    border-radius: 35px;    

}
.form p {
    color: black;
}
.video iframe {
    border: solid 2px white;
}
footer {
    clear:both;    
    height: 80px;
    width: 75%;
    margin-left: 12.5%;
    background: url(../images/wbk1.jpg) no-repeat center center fixed;    
}
@media screen and (max-width: 1800px) {
    .left_column {
        float: left;
        margin: 30px 10px 30px 10px;
        width: 400px;
    }
    .right_column1, .right_column2, .right_column3 {
        float: right;
        margin: 0px 10px 30px 0px;
        width: 700px;
    }    
}
@media screen and (max-width: 1600px) {
    .left_column {
        width: 300px;
    }
}
@media screen and (max-width: 1400px) {
    .content {
        height: 1250px;        
    }
    .left_column {
        width: 250px;
    }
}
@media screen and (max-width: 1350px) {
    .content {
        height: 1400px;
    }
    .left_column {
        width: 250px;
    }
    .right_column1, .right_column2, .right_column3 {
        float: right;
        margin: 0px 10px 30px 0px;
        width: 600px;
    }
}
@media screen and (max-width: 1300px) {
    body {
        background: lightgray;        
    }
    header {
        background: lightgray;
    }
    .content {
        background: lightgray;
    }
    footer {
        background: lightgray;
    }

}
